<footer>
  <!-- Div container for footer background color and padding -->
  <div class="bg-light py-md-5 border-top border-light-subtle">
    <div class="col">
      <!-- Wrapper for copyright text, centered -->
      <div class="footer-copyright-wrapper text-center">
        &copy; 2024. All Rights Reserved.
      </div>
      <!-- Secondary text for author's name, centered and with a top margin -->

      <div class="text-secondary text-center mt-2">by Joe Junker</div>
    </div>
  </div>
</footer>
