<!--https://www.udemy.com/course/bootstrap-from-scratch/learn/lecture/38476162?start=300#content-->
<!--Basic navbar design was learned on this udemy course above. The navbar below was included in this course-->

<!-- This is a navigation at the top of the page  -->
<!-- navbar-expand-md his class tells the navigation bar to expand for medium-sized devices and larger.-->
<!-- fixed-top fixes nav bar at top of viewport-->
<nav class="navbar navbar-expand-md fixed-top">
  <!-- Container to hold the navbar content -->
  <div class="container">
    <!-- logo link  leading to the homepage -->
    <a href="/" class="navbar-brand nav-item">
      <!-- Image logo displayed inline -->
      <!-- d-inline-block align-top" is making sure that the image inside the <a> tag behaves like an inline-block element and is aligned to the top of its containing element.-->
      <!-- This means it will fit within the dimensions of the navabar while still allowing other content to flow around it-->
      <img
        src="/images/logoImage/logo.png"
        alt="Logo"
        width="30"
        height="30"
        class="d-inline-block align-top"
    /></a>
    <!-- Button to toggle navbar collapse on smaller screens -->
    <!-- data bs-toggle uses Bootstrap data attribute to specify the behavior when clicked, in this case, toggling the collapse -->
    <!-- data-bs-target="#navbarNav specifies the target element to be collapsed or expanded when the button is clicked -->
    <!-- class="navbar-toggler" assigns the class navbar-toggler to style the button according to the navbar toggle design -->
    <button
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      class="navbar-toggler"
    >
      <!--displays navbar toggler icon whe page collapses-->
      <span class="navbar-toggler-icon"></span>
    </button>
    <!-- collapse This class is part of Bootstrap and indicates that the element should collapse when the toggle button is clicked on smaller screens. -->
    <!--avbar-collapse: This class contains the content that collapses and expands with the toggle button. -->

    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- This class styles the unordered list (<ul>) as a navbar navigation list. -->
      <!-- ms-auto: This class, part of Bootstrap, aligns the navbar navigation list to the right.-->
      <ul class="navbar-nav ms-auto">
        <!-- nav-item styles the list item as a navigation item within the navigation bar-->
        <li class="nav-item">
          <!--nav-link: This class styles the element as a navigation link within the navbar.-->
          <a href="/" class="nav-link">Home</a>
        </li>
        <li class="nav-item">
          <a href="/login1" class="nav-link">Login</a>
        </li>
        <li class="nav-item">
          <a href="/about" class="nav-link">About</a>
        </li>

        <li class="nav-item">
          <a href="/shop1" class="nav-link">Shop</a>
        </li>

        <li class="nav-item">
          <a href="/cart" class="nav-link">
            <!-- CART Icon taken from font awesome. The link access font awesome on the pages where this navbar page is rendered-->
            <i class="fas fa-cart-shopping"></i>
            <!--Element to display number of items in the cart -->
            <span id="cart-count">0</span>
          </a>
        </li>
        <li class="nav-item">
          <!--target_blank opens a new tab when link it selected-->
          <a
            href="https://www.instagram.com/i.keramik_/"
            target="_blank"
            class="nav-link"
          >
            <!--Instagram icon taken from font awesome-->
            <i class="fa-brands fa-instagram"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<!--end Bootstrap styled navbar-->
